@font-face {
  font-family: 'font-light';
  font-weight: 400;
  font-style: normal;
  src: url('./../fonts/Ubuntu-Light.ttf');
}

@font-face {
  font-family: 'font-regular';
  font-weight: 400;
  font-style: normal;
  src: url('./../fonts/MyriadPro-Regular.otf');
}

@font-face {
  font-family: 'font-bold';
  font-weight: 400;
  font-style: normal;
  src: url('./../fonts/MyriadPro-Bold.otf');
}

@mixin style-text( $color, $size, $family:"regular") {
  font-size: $size;
  color: $color;

  @if ($family == 'light') {
    font-family: 'font-light', sans-serif;
  } @else if ($family == 'regular') {
    font-family: 'font-regular', sans-serif;
  } @else if ($family == 'bold') {
    font-family: 'font-bold', sans-serif;
  } @else {
    font-family: 'font-light', sans-serif;
  }

}
