@use '@nu-art/ts-styles' as S;

.ts-checkbox-v2 {
  flex-shrink: 0;
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;

  //Initial design for the custom icon
  .ts-checkbox-v2__icon {
    width: 16px;
    height: 16px;
    padding: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: background 150ms, transform 100ms;
    outline-offset: -1px;

    .icon--wrapper {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  //Design for the text label
  .ts-checkbox-v2__label {
    color: #333;
    font: {
      size: 14px;
      weight: 500;
    }
  }

  //Keep the input focusable and accessible, but hidden on screen
  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    white-space: nowrap;

    //Enabled specific design
    &:enabled {
      //Allow hover and active transformations on icon
      & + .ts-checkbox-v2__icon {
        background: S.dark-blue(3);
        @include S.color-svg(#fff);

        &:hover {
          background: S.dark-blue(2);
        }

        &:active {
          transform: scale(0.9);
          outline: 2px solid #fff;
        }
      }

      //Design when also checked
      &:checked {
        //Give the icon a blue BG
        & + .ts-checkbox-v2__icon {

        }
      }
    }

    //Disabled specific design
    &:disabled {
      & + .ts-checkbox-v2__icon {
        cursor: not-allowed;
        background: S.gray(4);
        @include S.color-svg(#fff);
      }

      & + .ts-checkbox-v2__label {
        color: S.light-gray(6);
      }
    }

    &:focus {
      & + .ts-checkbox-v2__icon {
        outline: 2px solid #fff;
      }
    }
  }
}
