@use '@nu-art/ts-styles' as styles;

#dev-page__permissions .permissions-editor, .editor-content {
  gap: 16px;

  //TS Components Design
  .ts-input {
    width: 250px;
    max-width: unset;
    min-height: unset;
    background: white;

    &::placeholder {
      font-size: 12px;
    }
  }

  .ts-dropdown {
    width: 250px;

    .ts-tree__node {
      font: {
        size: 14px;
      }
    }

    .ts-dropdown__header {
      border-radius: 8px;
      position: relative;
      align-items: center;

      .icon--wrapper {
        width: 30px;
        rotate: 90deg;

        &.flip {
          rotate: -90deg;
        }
      }
    }

    .ts-dropdown__items-container {
      border: 2px solid styles.gray(1);
      padding-top: 18px;
      transform: translateY(-18px);
    }

    &.disabled {
      opacity: 0.5;

      .ts-dropdown__header {
        background: styles.gray(6);
      }
    }
  }

  .ts-table {
    .ts-table__body .ts-table__tr {
      height: 40px;

      .ts-table__td {
        height: 40px;

        .ts-input {
          background: transparent;
          border-radius: 0;
          border: none;
          width: 100%;
          height: 40px;
        }
      }
    }
  }

  //Editor Parts
  .item-list {
    height: 100%;
    width: 300px;
    flex-shrink: 0;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;

    .item-list__header {
      height: 40px;
      width: 100%;
      border-bottom: 2px solid black;
      background: styles.gray(3);
      color: white;
      display: grid;
      place-content: center;
      font: {
        size: 18px;
        weight: bold;
      }
      flex-shrink: 0;
    }

    .item-list__filter {
      background: white;
      width: 100%;
      height: 30px;
      border-bottom: 2px solid black;

      .icon--wrapper {
        width: 30px;
        flex-shrink: 0;
      }

      .ts-input {
        width: 0;
        height: 100%;
        flex-grow: 1;
        border-radius: 0;
        border: none;
        outline: none !important;
      }
    }

    .item-list__list {
      @include styles.customScrollbar('vertical', true);
      height: 0;
      flex-grow: 1;
      width: 100%;
      gap: 2px;

      .item-list__list-item {
        width: 100%;
        min-height: 30px;
        padding: 8px;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        background: styles.gray(4);
        cursor: pointer;
        font: {
          size: 14px;
          weight: bold;
        }
        white-space: pre-wrap;
        color: white;

        &.selected {
          background: white;
          color: styles.gray(2);
        }
      }
    }

    .item-list__add-button {
      width: 100%;
      margin: 0;
      padding: 8px 0;
      font: {
        size: 16px;
        weight: bold;
      }
      flex-shrink: 0;
      border-radius: 0;
    }
  }

  .item-editor {
    height: 100%;
    flex-grow: 1;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;

    .item-editor__header {
      height: 40px;
      width: 100%;
      border-bottom: 2px solid black;
      background: styles.gray(3);
      color: white;
      display: flex;
      align-items: center;
      padding: 0 16px;
      font: {
        size: 18px;
        weight: bold;
      }
      flex-shrink: 0;
    }

    .item-editor__main {
      height: 0;
      flex-grow: 1;
      width: 100%;
      padding: 16px;
      gap: 16px;

      .ts-table .ts-table__td {
        padding: 0;
      }

      .action-button {
        width: 50px;
        margin: 0;
        padding: 0;
        background: transparent;
        min-width: 50px;

        &.delete .icon--wrapper {
          width: 32px;
          height: 32px;
          @include styles.mouse-interactive-icon(styles.red(4), styles.red(3), styles.red(2));
          @include styles.set-svg-color-transition();
        }

        &.save .icon--wrapper {
          width: 24px;
          height: 24px;
          @include styles.mouse-interactive-icon(styles.green(4), styles.green(3), styles.green(2));
        }
      }
    }

    .item-editor__buttons {
      height: 50px;
      width: 100%;
      justify-content: flex-end;
      flex-shrink: 0;
      padding: 0 16px;
      gap: 16px;

      .ts-button, .ts-busy-button {
        margin: 0;
      }
    }
  }

  .user-permission-groups {
    width: 100%;
    gap: 16px;

    .ts-multi-select__list-value {
      width: 150px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
      border: 1px solid black;
      border-radius: 4px;
      font: {
        size: 11px;
        weight: bold;
      }
      overflow: hidden;
      white-space: break-spaces;
      text-align: center;

      .icon--wrapper {
        @include styles.mouse-interactive-icon(white);
        background: styles.red(4);
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        width: 30px;
        padding: 8px;
        transform: translateX(100%);
        transition: transform 200ms ease-out;
        cursor: pointer;
      }

      &:hover {
        .icon--wrapper {
          transform: translateX(0);
        }
      }
    }
  }
}

#permission-editor-item-menu {
  border: 1px solid styles.gray(1);
  border-radius: 6px;

  .ts-busy-button {
    margin: 0;
    background: transparent;
    color: styles.gray(1);
    font: {
      size: 14px;
      weight: normal;
    }
    padding-inline: 10px;

    .ts-button-loader div {
      background: styles.gray(1);
    }

    &:not(:last-child) {
      border-bottom: 1px solid styles.gray(2);
    }
  }
}