@use '@thunder-storm/styles' as styles;

.account-editor {
  padding: 14px;
  min-width: 70%;
  min-height: 40%;
  background: white;
  border-radius: 4px;
  gap: 30px;

  .editor-section {
    gap: 15px;
  }

  .gen-token-row {
    align-items: flex-end;
    width: 100%;
    gap: 5%;

    .ts-dropdown {
      max-width: 100%;
    }

    .ts-prop-renderer {
      max-width: 33%;
    }
  }

  .inputs-row {
    gap: 10px;
    width: 100%;
  }

  .ts-input {
    padding: 2px 10px 2px 10px;
    border-radius: 4px;
    max-width: 100%;
    background: none;
    border: 1px solid #e3e9f2;

    &::placeholder {
      font-style: normal;
    }
  }

  .ts-dropdown {
    max-width: 300px;

    .ts-dropdown__items-container {
      margin: 0;
    }

    .ts-dropdown__header {
      background: none;
      border-radius: 4px;
      border: 1px solid #e3e9f2;
      padding: 2px 10px 2px 10px;
      text-align: center;

      .ts-dropdown__placeholder {
        font-style: normal;
        padding: 0;
      }
    }

    .ts-dropdown__items-container {
      border: none;
    }


    .ts-tree {
      .ts-tree__children-container {
        .ts-tree__node {
          background: none;
          padding: 4px;
          cursor: pointer;
          border: 1px solid #e3e9f2;

          &:hover {
            background: rgb(210, 219, 234);
          }
        }
      }
    }
  }

  .ts-prop-renderer {
    .ts-grid {
      grid-template-columns: repeat(5, max-content);
      column-gap: 15px;
      row-gap: 10px;

      .grid-title {
        font-size: 15px;
        color: #004a72;
      }

      .grid-cell {
        font-size: 14px;
        color: #333333;
        justify-content: center;
      }

      .icon--wrapper {
        cursor: pointer;
      }
    }
  }

  .ts-busy-button {
    background: white;
    font-size: 12px;
    border-radius: 5px;
    min-width: 20%;
    color: inherit;
    padding: 2px 10px 2px 10px;
    height: 40px;
    font-weight: 400;
    border: 1px #e3e9f2 solid;
    margin-inline: 0;
    transition: all 500ms;

    &:hover {
      background: #6C87B0FF;
      color: white;
    }

    &.disabled {
      background: styles.gray(7);
      color: styles.gray(4);
      cursor: not-allowed;

      &:hover {
        background: styles.gray(7);
        color: styles.gray(4);
      }
    }
  }
}