.idea/*
!.idea/copyright/
!.idea/dictionaries/
!.idea/runConfigurations/
!.idea/scopes/

error
error_message.txt
.trash
.ts_env

.firebaserc
.firebase
firebase.json
firebase-debug.log
database-debug.log
firestore-debug.log
pubsub-debug.log
package.json

db-api-generator
node_modules
pnpm-lock.yaml
pnpm-workspace.yaml

*.iml
**/.DS_Store

# node
dist
dist-test
docs
build
package-lock.json
config.ts
imports-*.svg

**/src/main/tsconfig.json
**/src/test/tsconfig.json
**/*.tgz
fixture.txt
_fixture.txt