[submodule "nu-art-core"]
	path = nu-art-core
	url = git@github.com:nu-art-js/nu-art-core.git
[submodule "app-backend"]
	path = app-backend
	url = git@github.com:nu-art-js/app-backend.git
[submodule "dev-tools"]
	path = dev-tools
	url = git@github.com:nu-art/dev-tools.git
[submodule "nu-art-server"]
	path = nu-art-server
	url = git@github.com:nu-art-js/nu-art-server
