.idea/*
!.idea/copyright/
!.idea/dictionaries/
!.idea/scopes/

env
error

.firebaserc
.firebase
firebase.json
.fork
.trash
*.iml
**/.DS_Store
firebase-debug.log

nu-art-thunderstorm--service-account.json