[submodule "dev-tools"]
	path = dev-tools 
	url = git@github.com:nu-art/dev-tools.git 
	branch = master 
[submodule "storm"]
	path = storm 
	url = git@github.com:nu-art-js/storm.git 
	branch = master 
[submodule "testelot"]
	path = testelot 
	url = git@github.com:nu-art-js/testelot.git 
	branch = master 
[submodule "thunder"]
	path = thunder 
	url = git@github.com:nu-art-js/thunder.git 
	branch = master 
[submodule "ts-common"]
	path = ts-common 
	url = git@github.com:nu-art-js/ts-common.git 
	branch = master 

