.idea/*
!.idea/copyright/
!.idea/dictionaries/
!.idea/runConfigurations/
!.idea/scopes/

error
error_message.txt
.trash
.ts_env

.firebaserc
.firebase
firebase.json
firebase-debug.log
database-debug.log
firestore-debug.log
pubsub-debug.log
package.json

node_modules
pnpm-lock.yaml
pnpm-workspace.yaml

*.iml
**/.DS_Store
neural