.ts-loader {
  width: 50px;
  height: 50px;

  .ts-loader__content {
    width: 100%;
    height: 100%;

    margin: 0 auto;
    position: relative;
    -webkit-animation: ts-spinner__rotation 1s infinite linear;
    -moz-animation: ts-spinner__rotation 1s infinite linear;
    -o-animation: ts-spinner__rotation 1s infinite linear;
    animation: ts-spinner__rotation 1s infinite linear;
    border: 6px solid rgba(0, 0, 0, 8%);
    border-radius: 100%;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: -6px;
      top: -6px;
      height: 100%;
      width: 100%;
      border-top: 6px solid var(--deep-blue);
      border-left: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 6px solid transparent;
      border-radius: 100%;
    }
  }
}

//Animations
//***Basic Spinner***
@-webkit-keyframes ts-spinner__rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes ts-spinner__rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes ts-spinner__rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes ts-spinner__rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}