@use 'sass:math';
@use 'sass:list';
@use 'sass:color';

@function paletteBuilder($baseColor, $steps) {
  $colorsList: ();
  @for $i from 0 to $steps {
    $lightness: math.percentage(math.div($i, $steps));
    $newColor: color.scale($baseColor, $lightness: $lightness);
    $colorsList: list.append($colorsList, #{$newColor});
  }
  @return $colorsList
}