@use 'sass:list';
@use './_palette' as *;

$colorChunks: 7;
$_black: paletteBuilder(#000000, $colorChunks);
$_gray-blue: paletteBuilder(#2C3541, $colorChunks);
$_dark-blue: paletteBuilder(#004A72, $colorChunks);
$_dark-green: paletteBuilder(#2E5651, $colorChunks);
$_purple: paletteBuilder(#401F5C, $colorChunks);
$_pink: paletteBuilder(#8F1657, $colorChunks);
$_ochre: paletteBuilder(#876019, $colorChunks);
$_orange: paletteBuilder(#B94804, $colorChunks);
$_red: paletteBuilder(#D8042E, $colorChunks);
$_gray: paletteBuilder(#808080, $colorChunks);
$_light-gray: paletteBuilder(#D3D3D3, $colorChunks);
$_monochromatic: paletteBuilder(#9CAEB7, $colorChunks);
$_green: paletteBuilder(#2AA10F, $colorChunks);

@function monochromatic($i) {
  @return #{list.nth($_monochromatic,$i)}
}

@function black($i) {
  @return #{list.nth($_black, $i)}
}

@function gray-blue($i) {
  @return #{list.nth($_gray-blue, $i)}
}

@function dark-blue($i) {
  @return #{list.nth($_dark-blue, $i)}
}

@function dark-green($i) {
  @return #{list.nth($_dark-green, $i)}
}

@function green($i) {
  @return #{list.nth($_green,$i)}
}

@function purple($i) {
  @return #{list.nth($_purple, $i)}
}

@function pink($i) {
  @return #{list.nth($_pink, $i)}
}

@function ochre($i) {
  @return #{list.nth($_ochre, $i)}
}

@function orange($i) {
  @return #{list.nth($_orange, $i)}
}

@function red($i) {
  @return #{list.nth($_red, $i)}
}

@function gray($i) {
  @return #{list.nth($_gray,$i)}
}

@function light-gray($i) {
  @return #{list.nth($_light-gray,$i)}
}