#ats__button {
  height: 100%;
  width: 100%;
  gap: 20px;
  padding: 20px;

  .app-tools-page__page__header {
    margin: 0;
    padding: 0;
  }

  .ats__button__button-board {
    gap: 20px;
  }

  .ats__button__buttons {
    gap: 20px;
  }
}