.ats__toasting {
  height: 100%;
  position: relative;
  padding: 8px;
  align-items: start;
  justify-content: flex-end;
  gap: 8px;

  & > .ts-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }
}
