.ts-messaging__list {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: var(--ts-messaging--list-gap);
	padding: var(--ts-messaging--list-padding);
	overflow-y: auto;
	flex: 1;
	min-height: 0;

	&:has(.ts-messaging__list__empty) {
		justify-content: center;
	}

	&__load-more {
		align-self: center;
	}

	&__empty {
		margin: auto;
		padding: var(--space-lg);
		text-align: center;
		color: var(--ts-messaging--empty-color);
		font-size: var(--ts-messaging--empty-font-size);
	}
}
