.ts-messaging__list {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: var(--space-sm);
	padding: var(--space-base);
	overflow-y: auto;
	flex: 1;
	min-height: 0;

	&:has(.ts-messaging__list__empty) {
		justify-content: center;
	}

	&__load-more {
		align-self: center;
	}

	&__empty {
		margin: auto;
		padding: var(--space-lg);
		text-align: center;
		color: var(--color-text-muted);
		font-size: var(--font-size-sm);
	}
}
