.user-thumbnail {
  width: 26px;
  height: 26px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #1d496f;
  overflow: hidden;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

    text-align: center;
    text-transform: uppercase;
    font: {
      size: 14px;
      weight: bold;
    }
    color: #1d496f;
    line-height: 17px;

}