#dialog__idb-cache-comp {
  width: 50vw;
  height: 90vh;
  background: white;
  border: 2px solid black;

  .dialog__idb-cache-comp__header {
    width: 100%;
    height: 40px;
    justify-content: space-between;
    padding: 0 20px;

    .dialog__idb-cache-comp__header__title {
      font: {
        size: 20px;
      }
    }
  }

  .dialog__idb-cache-comp__grid-wrapper {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: overlay;
  }
}