.ts-video-dialog {
  width: 95vw;
  aspect-ratio: 16/9;
  position: relative;

  .icon--wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-out;

    path {
      stroke: #000;
      stroke-width: 0.5;
    }
  }

  &:hover {
    .icon--wrapper {
      opacity: 1;
      pointer-events: unset;
    }
  }
}
