@use '@nu-art/ts-styles' as styles;

#dev-page__permissions {
  width: 100%;
  height: 100%;
  padding: 0 16px 16px;

  .ts-dev-page__page-header {
    width: 100%;
    margin: 0 0 16px;
    padding: 8px 0;
    flex-shrink: 0;
  }

  .ts-tabs {
    flex-grow: 1;
    gap: 8px;

    .ts-tabs__tabs-header {
      gap: 8px;
      background: transparent;

      .ts-tabs__tab {
        background: transparent;
        border: 2px solid black;
        border-radius: 8px;
        font: {
          size: 18px;
          weight: bold;
        }
        color: black;

        &.ts-tabs__focused {
          background: white;
        }
      }
    }

    .ts-tabs__content {
      background: transparent;
    }
  }

  .api-editor {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    background: white;

    .api-editor__list {
      @include styles.customScrollbar('vertical');
      height: 100%;
      width: 400px;

      .api-editor__list__item {
        width: 100%;
        padding: 4px 8px;
        font: {
          size: 14px;
          weight: bold;
        }

        &.selected {
          background: styles.gray(2);
          color: white;
        }
      }
    }

    .api-editor__editor {
      height: 100%;
      padding: 8px;
      border-left: 2px solid black;
      gap: 8px;

      .api-editor__editor__level-list {
        width: 100%;
        flex-wrap: wrap;

        .ts-dropdown {
          width: 200px;
        }
      }
    }
  }

  .db-def-button {
    width: unset;
    padding: 4px 8px;
  }
}

#db-def-list {
  @include styles.customScrollbar('vertical');
  display: flex;
  flex-direction: column;
  max-height: 200px;

  .db-def-list__item {
    height: 30px;
    padding: 0 8px;
    display: flex;
    align-items: center;

    &:hover {
      background: styles.gray(7);
    }
  }
}

#save-initial-domain {
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .save-initial-domain__title {
    font: {
      size: 14px;
      weight: bold;
    }
  }

  .save-initial-domain__buttons {
    justify-content: space-between;

    .ts-button {
      margin: 0;
    }
  }
}