# Global
**/.DS_Store

# Node
node_modules

# Thunderstorm
dist
dist-test
build
_package.json
package-lock.json
config.ts

# Backend
.dependencies
src/main/config.ts
database-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log

# Temp?
src/main/dummy
