.c__work-hub-tab {
  background: #fff;
  padding: 4px 8px;
  border-radius: 6px;
  border: 2px solid transparent;
  gap: 4px;
  font: {
    size: 14px;
    weight: 500;
  }

  &.selected {
    border-color: #0000ff;
  }
}