@use "../colors" as colors;

@mixin mouse-interactive-background($background, $hoverBackground: $background, $activeBackground: $hoverBackground) {
  & {
    background: $background;
  }
  &:hover {
    background: $hoverBackground;
  }
  &:active {
    background: $activeBackground;
  }
}

@mixin mouse-interactive-text($c,$c-h: $c,$c-a:$c-h) {
  & {
    color: $c;
  }
  &:hover {
    color: $c-h;
  }
  &:active {
    color: $c-a;
  }
}

@mixin mouse-interactive-border-color($border, $hoverBorder: $border, $activeBorder: $hoverBorder) {
  & {
    border: $border;
  }
  &:hover {
    border: $hoverBorder;
  }
  &:active {
    border: $activeBorder;
  }
}

@mixin edge-fade($girth, $color) {
  mask-image: linear-gradient(to top, transparent, #{$color} #{$girth}),
  linear-gradient(to bottom, transparent, #{$color} #{$girth}),
  linear-gradient(to left, transparent, #{$color} #{$girth}),
  linear-gradient(to right, transparent, #{$color} #{$girth});
  mask-composite: intersect;
  -webkit-mask-image: linear-gradient(to top, transparent, #{$color} #{$girth}),
  linear-gradient(to bottom, transparent, #{$color} #{$girth}),
  linear-gradient(to left, transparent, #{$color} #{$girth}),
  linear-gradient(to right, transparent, #{$color} #{$girth});
  -webkit-mask-composite: destination-in;
}