/// Sets backgrounds for element based on mouse interaction
///
/// @param $bg - base background
/// @param $bgh - background when mouse hover
/// @param $bga - background when mouse click
///
@mixin mouse-interactive-background($bg, $bg-h: $bg ,$bg-a: $bg-h) {
  & {
    background: $bg;
  }
  &:hover {
    background: $bg-h;
  }
  &:active {
    background: $bg-a;
  }
}

@mixin mouse-interactive-text($c,$c-h: $c,$c-a:$c-h) {
  & {
    color: $c;
  }
  &:hover {
    color: $c-h;
  }
  &:active {
    color: $c-a;
  }
}

@mixin mouse-interactive-border-color($c, $ch: $c, $ca: $ch) {
  & {
    border-color: $c;
  }
  &:hover {
    border-color: $ch;
  }
  &:active {
    border-color: $ca;
  }
}

@mixin edge-fade($girth, $color) {
  mask-image:
          linear-gradient(to top, transparent, #{$color} #{$girth}),
          linear-gradient(to bottom, transparent, #{$color} #{$girth}),
          linear-gradient(to left, transparent, #{$color} #{$girth}),
          linear-gradient(to right, transparent, #{$color} #{$girth});
  mask-composite: intersect;
  -webkit-mask-image:
          linear-gradient(to top, transparent, #{$color} #{$girth}),
          linear-gradient(to bottom, transparent, #{$color} #{$girth}),
          linear-gradient(to left, transparent, #{$color} #{$girth}),
          linear-gradient(to right, transparent, #{$color} #{$girth});
  -webkit-mask-composite: destination-in;
}