@use '@nu-art/ts-styles' as styles;

.ats-full-page {
  width: 100%;
  height: 100%;


  .page-body {
    overflow-y: scroll;
    height: 100%;

    .ts-table {
      width: unset;

      .ts-table__body {
        .ts-table__td {
          width: unset !important;

          .cell-idb {
          }

          .cell-cache {

          }

          .cell-dbkey {

          }

          .issue {
            background: indianred;
          }
        }
      }
    }
  }
}