@use '@nu-art/ts-styles' as styles;

.ts-json-to-object {
  align-items: stretch;

  .ts-textarea .ts-json-to-object {
    height: unset;
  }

  .ts-textarea .ts-json-to-object {
    &[data-valid=false] {
      background-color: rgba(255, 175, 154, 0.26);
    }

    &[data-valid=true] {
      background-color: rgba(175, 255, 154, 0.26);
    }
  }

}