.ts-printable {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;

  & > * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }


  @media print {
    .ts-no-print {
      visibility: hidden;
    }
  }
}