.ts-printable {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }


  @media print {
    * {
      overflow: unset;
    }

    .ts-print__hide {
      visibility: hidden;
    }

    .ts-print__gone {
      display: none;
    }
  }
}