.toasting-portal__vertical {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;

  & > .toaster-item {
    translate: calc(-100% - 8px) 0;
    position: absolute;
    left: 8px;

    transition: translate 200ms ease-out,
    top 200ms ease-out;

    &.visible {
      translate: 0;
    }
  }
}