#ats__printable {
  height: 100%;
  width: 100%;
  gap: 20px;
  padding: 20px;

  .app-tools-page__page__header {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .ats__printable__printables {
    width: 100%;
    flex-grow: 1;
    gap: 20px;
    padding: 20px;

    .ts-prop-renderer {
      height: 100%;
      width: 300px;
    }

    .ats__printable__printable-content-wrapper {
      width: 100%;
      flex-grow: 1;
      border: 1px solid black;
      border-radius: 6px;
      padding: 10px;
      white-space: pre-wrap;
    }
  }
}

#printable-example {
  width: 500px;
  height: 100px;
  border: 2px solid black;
  color: red;
}